@font-face {
  font-family: "MISP Icons";
  src: url("misp-iconify.woff2") format("woff2"),
       url("misp-iconify.woff")  format("woff");
  font-display: block;
}

.misp-icon {
  font-family: "MISP Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  display: inline-block;
  vertical-align: middle;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.misp-fw {
  width: 1.25em;
  text-align: center;
}


/* --- hexagone icons --- */

.misp-icon-analyst-note.misp-hexagone::before { content: "\e001"; }
.misp-icon-analyst-note.misp-hexagone { --misp-icon: "\e001"; }
.misp-icon-analyst-opinion.misp-hexagone::before { content: "\e002"; }
.misp-icon-analyst-opinion.misp-hexagone { --misp-icon: "\e002"; }
.misp-icon-attribute.misp-hexagone::before { content: "\e003"; }
.misp-icon-attribute.misp-hexagone { --misp-icon: "\e003"; }
.misp-icon-event.misp-hexagone::before { content: "\e004"; }
.misp-icon-event.misp-hexagone { --misp-icon: "\e004"; }
.misp-icon-galaxy.misp-hexagone::before { content: "\e005"; }
.misp-icon-galaxy.misp-hexagone { --misp-icon: "\e005"; }
.misp-icon-misp.misp-hexagone::before { content: "\e006"; }
.misp-icon-misp.misp-hexagone { --misp-icon: "\e006"; }
.misp-icon-object.misp-hexagone::before { content: "\e007"; }
.misp-icon-object.misp-hexagone { --misp-icon: "\e007"; }
.misp-icon-organisation.misp-hexagone::before { content: "\e008"; }
.misp-icon-organisation.misp-hexagone { --misp-icon: "\e008"; }
.misp-icon-report.misp-hexagone::before { content: "\e009"; }
.misp-icon-report.misp-hexagone { --misp-icon: "\e009"; }
.misp-icon-sharing-group.misp-hexagone::before { content: "\e00a"; }
.misp-icon-sharing-group.misp-hexagone { --misp-icon: "\e00a"; }
.misp-icon-sighting.misp-hexagone::before { content: "\e00b"; }
.misp-icon-sighting.misp-hexagone { --misp-icon: "\e00b"; }
.misp-icon-tag.misp-hexagone::before { content: "\e00c"; }
.misp-icon-tag.misp-hexagone { --misp-icon: "\e00c"; }
.misp-icon-taxonomy.misp-hexagone::before { content: "\e00d"; }
.misp-icon-taxonomy.misp-hexagone { --misp-icon: "\e00d"; }
.misp-icon-user1.misp-hexagone::before { content: "\e00e"; }
.misp-icon-user1.misp-hexagone { --misp-icon: "\e00e"; }
.misp-icon-user2.misp-hexagone::before { content: "\e00f"; }
.misp-icon-user2.misp-hexagone { --misp-icon: "\e00f"; }
.misp-icon-user3.misp-hexagone::before { content: "\e010"; }
.misp-icon-user3.misp-hexagone { --misp-icon: "\e010"; }

/* --- simple icons --- */

.misp-icon-analyst-note.misp-simple::before { content: "\e011"; }
.misp-icon-analyst-note.misp-simple { --misp-icon: "\e011"; }
.misp-icon-analyst-opinion.misp-simple::before { content: "\e012"; }
.misp-icon-analyst-opinion.misp-simple { --misp-icon: "\e012"; }
.misp-icon-attribute.misp-simple::before { content: "\e013"; }
.misp-icon-attribute.misp-simple { --misp-icon: "\e013"; }
.misp-icon-event.misp-simple::before { content: "\e014"; }
.misp-icon-event.misp-simple { --misp-icon: "\e014"; }
.misp-icon-galaxy.misp-simple::before { content: "\e015"; }
.misp-icon-galaxy.misp-simple { --misp-icon: "\e015"; }
.misp-icon-misp.misp-simple::before { content: "\e016"; }
.misp-icon-misp.misp-simple { --misp-icon: "\e016"; }
.misp-icon-object.misp-simple::before { content: "\e017"; }
.misp-icon-object.misp-simple { --misp-icon: "\e017"; }
.misp-icon-organisation.misp-simple::before { content: "\e018"; }
.misp-icon-organisation.misp-simple { --misp-icon: "\e018"; }
.misp-icon-report.misp-simple::before { content: "\e019"; }
.misp-icon-report.misp-simple { --misp-icon: "\e019"; }
.misp-icon-sharing-group.misp-simple::before { content: "\e01a"; }
.misp-icon-sharing-group.misp-simple { --misp-icon: "\e01a"; }
.misp-icon-sighting.misp-simple::before { content: "\e01b"; }
.misp-icon-sighting.misp-simple { --misp-icon: "\e01b"; }
.misp-icon-tag.misp-simple::before { content: "\e01c"; }
.misp-icon-tag.misp-simple { --misp-icon: "\e01c"; }
.misp-icon-taxonomy.misp-simple::before { content: "\e01d"; }
.misp-icon-taxonomy.misp-simple { --misp-icon: "\e01d"; }
.misp-icon-user1.misp-simple::before { content: "\e01e"; }
.misp-icon-user1.misp-simple { --misp-icon: "\e01e"; }
.misp-icon-user2.misp-simple::before { content: "\e01f"; }
.misp-icon-user2.misp-simple { --misp-icon: "\e01f"; }
.misp-icon-user3.misp-simple::before { content: "\e020"; }
.misp-icon-user3.misp-simple { --misp-icon: "\e020"; }

/* --- attribute type icons --- */

.misp-icon-as.misp-attributes::before { content: "\e021"; }
.misp-icon-as.misp-attributes { --misp-icon: "\e021"; }
.misp-icon-attachment.misp-attributes::before { content: "\e022"; }
.misp-icon-attachment.misp-attributes { --misp-icon: "\e022"; }
.misp-icon-btc.misp-attributes::before { content: "\e023"; }
.misp-icon-btc.misp-attributes { --misp-icon: "\e023"; }
.misp-icon-campaign-name.misp-attributes::before { content: "\e024"; }
.misp-icon-campaign-name.misp-attributes { --misp-icon: "\e024"; }
.misp-icon-cc-number.misp-attributes::before { content: "\e025"; }
.misp-icon-cc-number.misp-attributes { --misp-icon: "\e025"; }
.misp-icon-comment.misp-attributes::before { content: "\e026"; }
.misp-icon-comment.misp-attributes { --misp-icon: "\e026"; }
.misp-icon-cookie.misp-attributes::before { content: "\e027"; }
.misp-icon-cookie.misp-attributes { --misp-icon: "\e027"; }
.misp-icon-cpe.misp-attributes::before { content: "\e028"; }
.misp-icon-cpe.misp-attributes { --misp-icon: "\e028"; }
.misp-icon-datetime.misp-attributes::before { content: "\e029"; }
.misp-icon-datetime.misp-attributes { --misp-icon: "\e029"; }
.misp-icon-domain-ip.misp-attributes::before { content: "\e02a"; }
.misp-icon-domain-ip.misp-attributes { --misp-icon: "\e02a"; }
.misp-icon-domain.misp-attributes::before { content: "\e02b"; }
.misp-icon-domain.misp-attributes { --misp-icon: "\e02b"; }
.misp-icon-email-dst.misp-attributes::before { content: "\e02c"; }
.misp-icon-email-dst.misp-attributes { --misp-icon: "\e02c"; }
.misp-icon-email-src.misp-attributes::before { content: "\e02d"; }
.misp-icon-email-src.misp-attributes { --misp-icon: "\e02d"; }
.misp-icon-email.misp-attributes::before { content: "\e02e"; }
.misp-icon-email.misp-attributes { --misp-icon: "\e02e"; }
.misp-icon-filename-md5.misp-attributes::before { content: "\e02f"; }
.misp-icon-filename-md5.misp-attributes { --misp-icon: "\e02f"; }
.misp-icon-filename-sha256.misp-attributes::before { content: "\e030"; }
.misp-icon-filename-sha256.misp-attributes { --misp-icon: "\e030"; }
.misp-icon-filename.misp-attributes::before { content: "\e031"; }
.misp-icon-filename.misp-attributes { --misp-icon: "\e031"; }
.misp-icon-full-name.misp-attributes::before { content: "\e032"; }
.misp-icon-full-name.misp-attributes { --misp-icon: "\e032"; }
.misp-icon-github-username.misp-attributes::before { content: "\e033"; }
.misp-icon-github-username.misp-attributes { --misp-icon: "\e033"; }
.misp-icon-hostname.misp-attributes::before { content: "\e034"; }
.misp-icon-hostname.misp-attributes { --misp-icon: "\e034"; }
.misp-icon-iban.misp-attributes::before { content: "\e035"; }
.misp-icon-iban.misp-attributes { --misp-icon: "\e035"; }
.misp-icon-ip-dst-port.misp-attributes::before { content: "\e036"; }
.misp-icon-ip-dst-port.misp-attributes { --misp-icon: "\e036"; }
.misp-icon-ip-dst.misp-attributes::before { content: "\e037"; }
.misp-icon-ip-dst.misp-attributes { --misp-icon: "\e037"; }
.misp-icon-ip-src.misp-attributes::before { content: "\e038"; }
.misp-icon-ip-src.misp-attributes { --misp-icon: "\e038"; }
.misp-icon-link.misp-attributes::before { content: "\e039"; }
.misp-icon-link.misp-attributes { --misp-icon: "\e039"; }
.misp-icon-mac-address.misp-attributes::before { content: "\e03a"; }
.misp-icon-mac-address.misp-attributes { --misp-icon: "\e03a"; }
.misp-icon-malware-sample.misp-attributes::before { content: "\e03b"; }
.misp-icon-malware-sample.misp-attributes { --misp-icon: "\e03b"; }
.misp-icon-md5.misp-attributes::before { content: "\e03c"; }
.misp-icon-md5.misp-attributes { --misp-icon: "\e03c"; }
.misp-icon-mutex.misp-attributes::before { content: "\e03d"; }
.misp-icon-mutex.misp-attributes { --misp-icon: "\e03d"; }
.misp-icon-pattern-in-file.misp-attributes::before { content: "\e03e"; }
.misp-icon-pattern-in-file.misp-attributes { --misp-icon: "\e03e"; }
.misp-icon-pgp-public-key.misp-attributes::before { content: "\e03f"; }
.misp-icon-pgp-public-key.misp-attributes { --misp-icon: "\e03f"; }
.misp-icon-phone-number.misp-attributes::before { content: "\e040"; }
.misp-icon-phone-number.misp-attributes { --misp-icon: "\e040"; }
.misp-icon-port.misp-attributes::before { content: "\e041"; }
.misp-icon-port.misp-attributes { --misp-icon: "\e041"; }
.misp-icon-regkey.misp-attributes::before { content: "\e042"; }
.misp-icon-regkey.misp-attributes { --misp-icon: "\e042"; }
.misp-icon-sha1.misp-attributes::before { content: "\e043"; }
.misp-icon-sha1.misp-attributes { --misp-icon: "\e043"; }
.misp-icon-sha256.misp-attributes::before { content: "\e044"; }
.misp-icon-sha256.misp-attributes { --misp-icon: "\e044"; }
.misp-icon-sigma.misp-attributes::before { content: "\e045"; }
.misp-icon-sigma.misp-attributes { --misp-icon: "\e045"; }
.misp-icon-snort.misp-attributes::before { content: "\e046"; }
.misp-icon-snort.misp-attributes { --misp-icon: "\e046"; }
.misp-icon-ssh-fingerprint.misp-attributes::before { content: "\e047"; }
.misp-icon-ssh-fingerprint.misp-attributes { --misp-icon: "\e047"; }
.misp-icon-text.misp-attributes::before { content: "\e048"; }
.misp-icon-text.misp-attributes { --misp-icon: "\e048"; }
.misp-icon-threat-actor.misp-attributes::before { content: "\e049"; }
.misp-icon-threat-actor.misp-attributes { --misp-icon: "\e049"; }
.misp-icon-twitter-id.misp-attributes::before { content: "\e04a"; }
.misp-icon-twitter-id.misp-attributes { --misp-icon: "\e04a"; }
.misp-icon-uri.misp-attributes::before { content: "\e04b"; }
.misp-icon-uri.misp-attributes { --misp-icon: "\e04b"; }
.misp-icon-url.misp-attributes::before { content: "\e04c"; }
.misp-icon-url.misp-attributes { --misp-icon: "\e04c"; }
.misp-icon-user-agent.misp-attributes::before { content: "\e04d"; }
.misp-icon-user-agent.misp-attributes { --misp-icon: "\e04d"; }
.misp-icon-vulnerability.misp-attributes::before { content: "\e04e"; }
.misp-icon-vulnerability.misp-attributes { --misp-icon: "\e04e"; }
.misp-icon-windows-scheduled-task.misp-attributes::before { content: "\e04f"; }
.misp-icon-windows-scheduled-task.misp-attributes { --misp-icon: "\e04f"; }
.misp-icon-windows-service-name.misp-attributes::before { content: "\e050"; }
.misp-icon-windows-service-name.misp-attributes { --misp-icon: "\e050"; }
.misp-icon-x509-fingerprint-sha1.misp-attributes::before { content: "\e051"; }
.misp-icon-x509-fingerprint-sha1.misp-attributes { --misp-icon: "\e051"; }
.misp-icon-yara.misp-attributes::before { content: "\e052"; }
.misp-icon-yara.misp-attributes { --misp-icon: "\e052"; }

/* --- object icons (framed variant) --- */

.misp-icon-android-app.misp-objects-framed::before { content: "\e053"; }
.misp-icon-android-app.misp-objects-framed { --misp-icon: "\e053"; }
.misp-icon-android-permission.misp-objects-framed::before { content: "\e054"; }
.misp-icon-android-permission.misp-objects-framed { --misp-icon: "\e054"; }
.misp-icon-annotation.misp-objects-framed::before { content: "\e055"; }
.misp-icon-annotation.misp-objects-framed { --misp-icon: "\e055"; }
.misp-icon-apk.misp-objects-framed::before { content: "\e056"; }
.misp-icon-apk.misp-objects-framed { --misp-icon: "\e056"; }
.misp-icon-artifact.misp-objects-framed::before { content: "\e057"; }
.misp-icon-artifact.misp-objects-framed { --misp-icon: "\e057"; }
.misp-icon-asn.misp-objects-framed::before { content: "\e058"; }
.misp-icon-asn.misp-objects-framed { --misp-icon: "\e058"; }
.misp-icon-attack-pattern.misp-objects-framed::before { content: "\e059"; }
.misp-icon-attack-pattern.misp-objects-framed { --misp-icon: "\e059"; }
.misp-icon-av-signature.misp-objects-framed::before { content: "\e05a"; }
.misp-icon-av-signature.misp-objects-framed { --misp-icon: "\e05a"; }
.misp-icon-bank-account.misp-objects-framed::before { content: "\e05b"; }
.misp-icon-bank-account.misp-objects-framed { --misp-icon: "\e05b"; }
.misp-icon-blog.misp-objects-framed::before { content: "\e05c"; }
.misp-icon-blog.misp-objects-framed { --misp-icon: "\e05c"; }
.misp-icon-btc-transaction.misp-objects-framed::before { content: "\e05d"; }
.misp-icon-btc-transaction.misp-objects-framed { --misp-icon: "\e05d"; }
.misp-icon-btc-wallet.misp-objects-framed::before { content: "\e05e"; }
.misp-icon-btc-wallet.misp-objects-framed { --misp-icon: "\e05e"; }
.misp-icon-c2-list.misp-objects-framed::before { content: "\e05f"; }
.misp-icon-c2-list.misp-objects-framed { --misp-icon: "\e05f"; }
.misp-icon-chat-message.misp-objects-framed::before { content: "\e060"; }
.misp-icon-chat-message.misp-objects-framed { --misp-icon: "\e060"; }
.misp-icon-coin-address.misp-objects-framed::before { content: "\e061"; }
.misp-icon-coin-address.misp-objects-framed { --misp-icon: "\e061"; }
.misp-icon-command-line.misp-objects-framed::before { content: "\e062"; }
.misp-icon-command-line.misp-objects-framed { --misp-icon: "\e062"; }
.misp-icon-command.misp-objects-framed::before { content: "\e063"; }
.misp-icon-command.misp-objects-framed { --misp-icon: "\e063"; }
.misp-icon-cookie.misp-objects-framed::before { content: "\e064"; }
.misp-icon-cookie.misp-objects-framed { --misp-icon: "\e064"; }
.misp-icon-course-of-action.misp-objects-framed::before { content: "\e065"; }
.misp-icon-course-of-action.misp-objects-framed { --misp-icon: "\e065"; }
.misp-icon-cpe-asset.misp-objects-framed::before { content: "\e066"; }
.misp-icon-cpe-asset.misp-objects-framed { --misp-icon: "\e066"; }
.misp-icon-credential.misp-objects-framed::before { content: "\e067"; }
.misp-icon-credential.misp-objects-framed { --misp-icon: "\e067"; }
.misp-icon-credit-card.misp-objects-framed::before { content: "\e068"; }
.misp-icon-credit-card.misp-objects-framed { --misp-icon: "\e068"; }
.misp-icon-crypto-material.misp-objects-framed::before { content: "\e069"; }
.misp-icon-crypto-material.misp-objects-framed { --misp-icon: "\e069"; }
.misp-icon-data-url.misp-objects-framed::before { content: "\e06a"; }
.misp-icon-data-url.misp-objects-framed { --misp-icon: "\e06a"; }
.misp-icon-ddos-config.misp-objects-framed::before { content: "\e06b"; }
.misp-icon-ddos-config.misp-objects-framed { --misp-icon: "\e06b"; }
.misp-icon-ddos.misp-objects-framed::before { content: "\e06c"; }
.misp-icon-ddos.misp-objects-framed { --misp-icon: "\e06c"; }
.misp-icon-decoded-barcode.misp-objects-framed::before { content: "\e06d"; }
.misp-icon-decoded-barcode.misp-objects-framed { --misp-icon: "\e06d"; }
.misp-icon-decoded-qrcode.misp-objects-framed::before { content: "\e06e"; }
.misp-icon-decoded-qrcode.misp-objects-framed { --misp-icon: "\e06e"; }
.misp-icon-device.misp-objects-framed::before { content: "\e06f"; }
.misp-icon-device.misp-objects-framed { --misp-icon: "\e06f"; }
.misp-icon-diamond.misp-objects-framed::before { content: "\e070"; }
.misp-icon-diamond.misp-objects-framed { --misp-icon: "\e070"; }
.misp-icon-directory.misp-objects-framed::before { content: "\e071"; }
.misp-icon-directory.misp-objects-framed { --misp-icon: "\e071"; }
.misp-icon-dkim.misp-objects-framed::before { content: "\e072"; }
.misp-icon-dkim.misp-objects-framed { --misp-icon: "\e072"; }
.misp-icon-dns-record.misp-objects-framed::before { content: "\e073"; }
.misp-icon-dns-record.misp-objects-framed { --misp-icon: "\e073"; }
.misp-icon-domain-ip.misp-objects-framed::before { content: "\e074"; }
.misp-icon-domain-ip.misp-objects-framed { --misp-icon: "\e074"; }
.misp-icon-elf.misp-objects-framed::before { content: "\e075"; }
.misp-icon-elf.misp-objects-framed { --misp-icon: "\e075"; }
.misp-icon-email.misp-objects-framed::before { content: "\e076"; }
.misp-icon-email.misp-objects-framed { --misp-icon: "\e076"; }
.misp-icon-employee.misp-objects-framed::before { content: "\e077"; }
.misp-icon-employee.misp-objects-framed { --misp-icon: "\e077"; }
.misp-icon-event.misp-objects-framed::before { content: "\e078"; }
.misp-icon-event.misp-objects-framed { --misp-icon: "\e078"; }
.misp-icon-exploit-poc.misp-objects-framed::before { content: "\e079"; }
.misp-icon-exploit-poc.misp-objects-framed { --misp-icon: "\e079"; }
.misp-icon-exploit.misp-objects-framed::before { content: "\e07a"; }
.misp-icon-exploit.misp-objects-framed { --misp-icon: "\e07a"; }
.misp-icon-facebook-account.misp-objects-framed::before { content: "\e07b"; }
.misp-icon-facebook-account.misp-objects-framed { --misp-icon: "\e07b"; }
.misp-icon-facebook-group.misp-objects-framed::before { content: "\e07c"; }
.misp-icon-facebook-group.misp-objects-framed { --misp-icon: "\e07c"; }
.misp-icon-facebook-page.misp-objects-framed::before { content: "\e07d"; }
.misp-icon-facebook-page.misp-objects-framed { --misp-icon: "\e07d"; }
.misp-icon-facebook-post.misp-objects-framed::before { content: "\e07e"; }
.misp-icon-facebook-post.misp-objects-framed { --misp-icon: "\e07e"; }
.misp-icon-facebook-reaction.misp-objects-framed::before { content: "\e07f"; }
.misp-icon-facebook-reaction.misp-objects-framed { --misp-icon: "\e07f"; }
.misp-icon-favicon.misp-objects-framed::before { content: "\e080"; }
.misp-icon-favicon.misp-objects-framed { --misp-icon: "\e080"; }
.misp-icon-file-7z.misp-objects-framed::before { content: "\e081"; }
.misp-icon-file-7z.misp-objects-framed { --misp-icon: "\e081"; }
.misp-icon-file-apk.misp-objects-framed::before { content: "\e082"; }
.misp-icon-file-apk.misp-objects-framed { --misp-icon: "\e082"; }
.misp-icon-file-bat.misp-objects-framed::before { content: "\e083"; }
.misp-icon-file-bat.misp-objects-framed { --misp-icon: "\e083"; }
.misp-icon-file-css.misp-objects-framed::before { content: "\e084"; }
.misp-icon-file-css.misp-objects-framed { --misp-icon: "\e084"; }
.misp-icon-file-csv.misp-objects-framed::before { content: "\e085"; }
.misp-icon-file-csv.misp-objects-framed { --misp-icon: "\e085"; }
.misp-icon-file-dll.misp-objects-framed::before { content: "\e086"; }
.misp-icon-file-dll.misp-objects-framed { --misp-icon: "\e086"; }
.misp-icon-file-doc.misp-objects-framed::before { content: "\e087"; }
.misp-icon-file-doc.misp-objects-framed { --misp-icon: "\e087"; }
.misp-icon-file-docx.misp-objects-framed::before { content: "\e088"; }
.misp-icon-file-docx.misp-objects-framed { --misp-icon: "\e088"; }
.misp-icon-file-elf.misp-objects-framed::before { content: "\e089"; }
.misp-icon-file-elf.misp-objects-framed { --misp-icon: "\e089"; }
.misp-icon-file-eml.misp-objects-framed::before { content: "\e08a"; }
.misp-icon-file-eml.misp-objects-framed { --misp-icon: "\e08a"; }
.misp-icon-file-exe.misp-objects-framed::before { content: "\e08b"; }
.misp-icon-file-exe.misp-objects-framed { --misp-icon: "\e08b"; }
.misp-icon-file-gif.misp-objects-framed::before { content: "\e08c"; }
.misp-icon-file-gif.misp-objects-framed { --misp-icon: "\e08c"; }
.misp-icon-file-gz.misp-objects-framed::before { content: "\e08d"; }
.misp-icon-file-gz.misp-objects-framed { --misp-icon: "\e08d"; }
.misp-icon-file-html.misp-objects-framed::before { content: "\e08e"; }
.misp-icon-file-html.misp-objects-framed { --misp-icon: "\e08e"; }
.misp-icon-file-iso.misp-objects-framed::before { content: "\e08f"; }
.misp-icon-file-iso.misp-objects-framed { --misp-icon: "\e08f"; }
.misp-icon-file-jar.misp-objects-framed::before { content: "\e090"; }
.misp-icon-file-jar.misp-objects-framed { --misp-icon: "\e090"; }
.misp-icon-file-jpg.misp-objects-framed::before { content: "\e091"; }
.misp-icon-file-jpg.misp-objects-framed { --misp-icon: "\e091"; }
.misp-icon-file-json.misp-objects-framed::before { content: "\e092"; }
.misp-icon-file-json.misp-objects-framed { --misp-icon: "\e092"; }
.misp-icon-file-js.misp-objects-framed::before { content: "\e093"; }
.misp-icon-file-js.misp-objects-framed { --misp-icon: "\e093"; }
.misp-icon-file-lnk.misp-objects-framed::before { content: "\e094"; }
.misp-icon-file-lnk.misp-objects-framed { --misp-icon: "\e094"; }
.misp-icon-file-mp3.misp-objects-framed::before { content: "\e095"; }
.misp-icon-file-mp3.misp-objects-framed { --misp-icon: "\e095"; }
.misp-icon-file-mp4.misp-objects-framed::before { content: "\e096"; }
.misp-icon-file-mp4.misp-objects-framed { --misp-icon: "\e096"; }
.misp-icon-file-msg.misp-objects-framed::before { content: "\e097"; }
.misp-icon-file-msg.misp-objects-framed { --misp-icon: "\e097"; }
.misp-icon-file-pcap.misp-objects-framed::before { content: "\e098"; }
.misp-icon-file-pcap.misp-objects-framed { --misp-icon: "\e098"; }
.misp-icon-file-pdf.misp-objects-framed::before { content: "\e099"; }
.misp-icon-file-pdf.misp-objects-framed { --misp-icon: "\e099"; }
.misp-icon-file-png.misp-objects-framed::before { content: "\e09a"; }
.misp-icon-file-png.misp-objects-framed { --misp-icon: "\e09a"; }
.misp-icon-file-ppt.misp-objects-framed::before { content: "\e09b"; }
.misp-icon-file-ppt.misp-objects-framed { --misp-icon: "\e09b"; }
.misp-icon-file-pptx.misp-objects-framed::before { content: "\e09c"; }
.misp-icon-file-pptx.misp-objects-framed { --misp-icon: "\e09c"; }
.misp-icon-file-ps1.misp-objects-framed::before { content: "\e09d"; }
.misp-icon-file-ps1.misp-objects-framed { --misp-icon: "\e09d"; }
.misp-icon-file-py.misp-objects-framed::before { content: "\e09e"; }
.misp-icon-file-py.misp-objects-framed { --misp-icon: "\e09e"; }
.misp-icon-file-rar.misp-objects-framed::before { content: "\e09f"; }
.misp-icon-file-rar.misp-objects-framed { --misp-icon: "\e09f"; }
.misp-icon-file-rtf.misp-objects-framed::before { content: "\e0a0"; }
.misp-icon-file-rtf.misp-objects-framed { --misp-icon: "\e0a0"; }
.misp-icon-file-sh.misp-objects-framed::before { content: "\e0a1"; }
.misp-icon-file-sh.misp-objects-framed { --misp-icon: "\e0a1"; }
.misp-icon-file.misp-objects-framed::before { content: "\e0a2"; }
.misp-icon-file.misp-objects-framed { --misp-icon: "\e0a2"; }
.misp-icon-file-svg.misp-objects-framed::before { content: "\e0a3"; }
.misp-icon-file-svg.misp-objects-framed { --misp-icon: "\e0a3"; }
.misp-icon-file-txt.misp-objects-framed::before { content: "\e0a4"; }
.misp-icon-file-txt.misp-objects-framed { --misp-icon: "\e0a4"; }
.misp-icon-file-vbs.misp-objects-framed::before { content: "\e0a5"; }
.misp-icon-file-vbs.misp-objects-framed { --misp-icon: "\e0a5"; }
.misp-icon-file-xls.misp-objects-framed::before { content: "\e0a6"; }
.misp-icon-file-xls.misp-objects-framed { --misp-icon: "\e0a6"; }
.misp-icon-file-xlsx.misp-objects-framed::before { content: "\e0a7"; }
.misp-icon-file-xlsx.misp-objects-framed { --misp-icon: "\e0a7"; }
.misp-icon-file-xml.misp-objects-framed::before { content: "\e0a8"; }
.misp-icon-file-xml.misp-objects-framed { --misp-icon: "\e0a8"; }
.misp-icon-file-zip.misp-objects-framed::before { content: "\e0a9"; }
.misp-icon-file-zip.misp-objects-framed { --misp-icon: "\e0a9"; }
.misp-icon-forensic-case.misp-objects-framed::before { content: "\e0aa"; }
.misp-icon-forensic-case.misp-objects-framed { --misp-icon: "\e0aa"; }
.misp-icon-forensic-evidence.misp-objects-framed::before { content: "\e0ab"; }
.misp-icon-forensic-evidence.misp-objects-framed { --misp-icon: "\e0ab"; }
.misp-icon-forged-document.misp-objects-framed::before { content: "\e0ac"; }
.misp-icon-forged-document.misp-objects-framed { --misp-icon: "\e0ac"; }
.misp-icon-geojson.misp-objects-framed::before { content: "\e0ad"; }
.misp-icon-geojson.misp-objects-framed { --misp-icon: "\e0ad"; }
.misp-icon-geolocation.misp-objects-framed::before { content: "\e0ae"; }
.misp-icon-geolocation.misp-objects-framed { --misp-icon: "\e0ae"; }
.misp-icon-ghidra-function.misp-objects-framed::before { content: "\e0af"; }
.misp-icon-ghidra-function.misp-objects-framed { --misp-icon: "\e0af"; }
.misp-icon-github-action.misp-objects-framed::before { content: "\e0b0"; }
.misp-icon-github-action.misp-objects-framed { --misp-icon: "\e0b0"; }
.misp-icon-github-repo.misp-objects-framed::before { content: "\e0b1"; }
.misp-icon-github-repo.misp-objects-framed { --misp-icon: "\e0b1"; }
.misp-icon-github-user.misp-objects-framed::before { content: "\e0b2"; }
.misp-icon-github-user.misp-objects-framed { --misp-icon: "\e0b2"; }
.misp-icon-gitlab-user.misp-objects-framed::before { content: "\e0b3"; }
.misp-icon-gitlab-user.misp-objects-framed { --misp-icon: "\e0b3"; }
.misp-icon-google-account.misp-objects-framed::before { content: "\e0b4"; }
.misp-icon-google-account.misp-objects-framed { --misp-icon: "\e0b4"; }
.misp-icon-google-threat-intelligence-report.misp-objects-framed::before { content: "\e0b5"; }
.misp-icon-google-threat-intelligence-report.misp-objects-framed { --misp-icon: "\e0b5"; }
.misp-icon-gpx.misp-objects-framed::before { content: "\e0b6"; }
.misp-icon-gpx.misp-objects-framed { --misp-icon: "\e0b6"; }
.misp-icon-http-request.misp-objects-framed::before { content: "\e0b7"; }
.misp-icon-http-request.misp-objects-framed { --misp-icon: "\e0b7"; }
.misp-icon-identity.misp-objects-framed::before { content: "\e0b8"; }
.misp-icon-identity.misp-objects-framed { --misp-icon: "\e0b8"; }
.misp-icon-image.misp-objects-framed::before { content: "\e0b9"; }
.misp-icon-image.misp-objects-framed { --misp-icon: "\e0b9"; }
.misp-icon-impersonation.misp-objects-framed::before { content: "\e0ba"; }
.misp-icon-impersonation.misp-objects-framed { --misp-icon: "\e0ba"; }
.misp-icon-incident.misp-objects-framed::before { content: "\e0bb"; }
.misp-icon-incident.misp-objects-framed { --misp-icon: "\e0bb"; }
.misp-icon-infrastructure.misp-objects-framed::before { content: "\e0bc"; }
.misp-icon-infrastructure.misp-objects-framed { --misp-icon: "\e0bc"; }
.misp-icon-instagram-account.misp-objects-framed::before { content: "\e0bd"; }
.misp-icon-instagram-account.misp-objects-framed { --misp-icon: "\e0bd"; }
.misp-icon-instant-message.misp-objects-framed::before { content: "\e0be"; }
.misp-icon-instant-message.misp-objects-framed { --misp-icon: "\e0be"; }
.misp-icon-intelligence-report.misp-objects-framed::before { content: "\e0bf"; }
.misp-icon-intelligence-report.misp-objects-framed { --misp-icon: "\e0bf"; }
.misp-icon-intrusion-set.misp-objects-framed::before { content: "\e0c0"; }
.misp-icon-intrusion-set.misp-objects-framed { --misp-icon: "\e0c0"; }
.misp-icon-iot-device.misp-objects-framed::before { content: "\e0c1"; }
.misp-icon-iot-device.misp-objects-framed { --misp-icon: "\e0c1"; }
.misp-icon-iot-firmware.misp-objects-framed::before { content: "\e0c2"; }
.misp-icon-iot-firmware.misp-objects-framed { --misp-icon: "\e0c2"; }
.misp-icon-ip-port.misp-objects-framed::before { content: "\e0c3"; }
.misp-icon-ip-port.misp-objects-framed { --misp-icon: "\e0c3"; }
.misp-icon-irc.misp-objects-framed::before { content: "\e0c4"; }
.misp-icon-irc.misp-objects-framed { --misp-icon: "\e0c4"; }
.misp-icon-ja3.misp-objects-framed::before { content: "\e0c5"; }
.misp-icon-ja3.misp-objects-framed { --misp-icon: "\e0c5"; }
.misp-icon-keybase-account.misp-objects-framed::before { content: "\e0c6"; }
.misp-icon-keybase-account.misp-objects-framed { --misp-icon: "\e0c6"; }
.misp-icon-leaked-document.misp-objects-framed::before { content: "\e0c7"; }
.misp-icon-leaked-document.misp-objects-framed { --misp-icon: "\e0c7"; }
.misp-icon-legal-entity.misp-objects-framed::before { content: "\e0c8"; }
.misp-icon-legal-entity.misp-objects-framed { --misp-icon: "\e0c8"; }
.misp-icon-lnk.misp-objects-framed::before { content: "\e0c9"; }
.misp-icon-lnk.misp-objects-framed { --misp-icon: "\e0c9"; }
.misp-icon-macho.misp-objects-framed::before { content: "\e0ca"; }
.misp-icon-macho.misp-objects-framed { --misp-icon: "\e0ca"; }
.misp-icon-malicious-website.misp-objects-framed::before { content: "\e0cb"; }
.misp-icon-malicious-website.misp-objects-framed { --misp-icon: "\e0cb"; }
.misp-icon-malware-analysis.misp-objects-framed::before { content: "\e0cc"; }
.misp-icon-malware-analysis.misp-objects-framed { --misp-icon: "\e0cc"; }
.misp-icon-malware-config.misp-objects-framed::before { content: "\e0cd"; }
.misp-icon-malware-config.misp-objects-framed { --misp-icon: "\e0cd"; }
.misp-icon-malware.misp-objects-framed::before { content: "\e0ce"; }
.misp-icon-malware.misp-objects-framed { --misp-icon: "\e0ce"; }
.misp-icon-microblog.misp-objects-framed::before { content: "\e0cf"; }
.misp-icon-microblog.misp-objects-framed { --misp-icon: "\e0cf"; }
.misp-icon-mutex.misp-objects-framed::before { content: "\e0d0"; }
.misp-icon-mutex.misp-objects-framed { --misp-icon: "\e0d0"; }
.misp-icon-netflow.misp-objects-framed::before { content: "\e0d1"; }
.misp-icon-netflow.misp-objects-framed { --misp-icon: "\e0d1"; }
.misp-icon-network-connection.misp-objects-framed::before { content: "\e0d2"; }
.misp-icon-network-connection.misp-objects-framed { --misp-icon: "\e0d2"; }
.misp-icon-network-data.misp-objects-framed::before { content: "\e0d3"; }
.misp-icon-network-data.misp-objects-framed { --misp-icon: "\e0d3"; }
.misp-icon-network-profile.misp-objects-framed::before { content: "\e0d4"; }
.misp-icon-network-profile.misp-objects-framed { --misp-icon: "\e0d4"; }
.misp-icon-network-socket.misp-objects-framed::before { content: "\e0d5"; }
.misp-icon-network-socket.misp-objects-framed { --misp-icon: "\e0d5"; }
.misp-icon-network-traffic.misp-objects-framed::before { content: "\e0d6"; }
.misp-icon-network-traffic.misp-objects-framed { --misp-icon: "\e0d6"; }
.misp-icon-news-agency.misp-objects-framed::before { content: "\e0d7"; }
.misp-icon-news-agency.misp-objects-framed { --misp-icon: "\e0d7"; }
.misp-icon-news-media.misp-objects-framed::before { content: "\e0d8"; }
.misp-icon-news-media.misp-objects-framed { --misp-icon: "\e0d8"; }
.misp-icon-nse-script.misp-objects-framed::before { content: "\e0d9"; }
.misp-icon-nse-script.misp-objects-framed { --misp-icon: "\e0d9"; }
.misp-icon-organization.misp-objects-framed::before { content: "\e0da"; }
.misp-icon-organization.misp-objects-framed { --misp-icon: "\e0da"; }
.misp-icon-passive-dns-dnsdbflex.misp-objects-framed::before { content: "\e0db"; }
.misp-icon-passive-dns-dnsdbflex.misp-objects-framed { --misp-icon: "\e0db"; }
.misp-icon-passive-dns.misp-objects-framed::before { content: "\e0dc"; }
.misp-icon-passive-dns.misp-objects-framed { --misp-icon: "\e0dc"; }
.misp-icon-passive-ssh.misp-objects-framed::before { content: "\e0dd"; }
.misp-icon-passive-ssh.misp-objects-framed { --misp-icon: "\e0dd"; }
.misp-icon-paste.misp-objects-framed::before { content: "\e0de"; }
.misp-icon-paste.misp-objects-framed { --misp-icon: "\e0de"; }
.misp-icon-personification.misp-objects-framed::before { content: "\e0df"; }
.misp-icon-personification.misp-objects-framed { --misp-icon: "\e0df"; }
.misp-icon-person.misp-objects-framed::before { content: "\e0e0"; }
.misp-icon-person.misp-objects-framed { --misp-icon: "\e0e0"; }
.misp-icon-pe-section.misp-objects-framed::before { content: "\e0e1"; }
.misp-icon-pe-section.misp-objects-framed { --misp-icon: "\e0e1"; }
.misp-icon-pe.misp-objects-framed::before { content: "\e0e2"; }
.misp-icon-pe.misp-objects-framed { --misp-icon: "\e0e2"; }
.misp-icon-phishing-kit.misp-objects-framed::before { content: "\e0e3"; }
.misp-icon-phishing-kit.misp-objects-framed { --misp-icon: "\e0e3"; }
.misp-icon-phishing.misp-objects-framed::before { content: "\e0e4"; }
.misp-icon-phishing.misp-objects-framed { --misp-icon: "\e0e4"; }
.misp-icon-phone-number.misp-objects-framed::before { content: "\e0e5"; }
.misp-icon-phone-number.misp-objects-framed { --misp-icon: "\e0e5"; }
.misp-icon-phone.misp-objects-framed::before { content: "\e0e6"; }
.misp-icon-phone.misp-objects-framed { --misp-icon: "\e0e6"; }
.misp-icon-physical-impact.misp-objects-framed::before { content: "\e0e7"; }
.misp-icon-physical-impact.misp-objects-framed { --misp-icon: "\e0e7"; }
.misp-icon-postal-address.misp-objects-framed::before { content: "\e0e8"; }
.misp-icon-postal-address.misp-objects-framed { --misp-icon: "\e0e8"; }
.misp-icon-process.misp-objects-framed::before { content: "\e0e9"; }
.misp-icon-process.misp-objects-framed { --misp-icon: "\e0e9"; }
.misp-icon-query.misp-objects-framed::before { content: "\e0ea"; }
.misp-icon-query.misp-objects-framed { --misp-icon: "\e0ea"; }
.misp-icon-reddit-account.misp-objects-framed::before { content: "\e0eb"; }
.misp-icon-reddit-account.misp-objects-framed { --misp-icon: "\e0eb"; }
.misp-icon-reddit-comment.misp-objects-framed::before { content: "\e0ec"; }
.misp-icon-reddit-comment.misp-objects-framed { --misp-icon: "\e0ec"; }
.misp-icon-reddit-post.misp-objects-framed::before { content: "\e0ed"; }
.misp-icon-reddit-post.misp-objects-framed { --misp-icon: "\e0ed"; }
.misp-icon-reddit-subreddit.misp-objects-framed::before { content: "\e0ee"; }
.misp-icon-reddit-subreddit.misp-objects-framed { --misp-icon: "\e0ee"; }
.misp-icon-regexp.misp-objects-framed::before { content: "\e0ef"; }
.misp-icon-regexp.misp-objects-framed { --misp-icon: "\e0ef"; }
.misp-icon-registry-key.misp-objects-framed::before { content: "\e0f0"; }
.misp-icon-registry-key.misp-objects-framed { --misp-icon: "\e0f0"; }
.misp-icon-registry-key-value.misp-objects-framed::before { content: "\e0f1"; }
.misp-icon-registry-key-value.misp-objects-framed { --misp-icon: "\e0f1"; }
.misp-icon-report.misp-objects-framed::before { content: "\e0f2"; }
.misp-icon-report.misp-objects-framed { --misp-icon: "\e0f2"; }
.misp-icon-risk-assessment-report.misp-objects-framed::before { content: "\e0f3"; }
.misp-icon-risk-assessment-report.misp-objects-framed { --misp-icon: "\e0f3"; }
.misp-icon-sandbox-report.misp-objects-framed::before { content: "\e0f4"; }
.misp-icon-sandbox-report.misp-objects-framed { --misp-icon: "\e0f4"; }
.misp-icon-scan-result.misp-objects-framed::before { content: "\e0f5"; }
.misp-icon-scan-result.misp-objects-framed { --misp-icon: "\e0f5"; }
.misp-icon-scheduled-event.misp-objects-framed::before { content: "\e0f6"; }
.misp-icon-scheduled-event.misp-objects-framed { --misp-icon: "\e0f6"; }
.misp-icon-scheduled-task.misp-objects-framed::before { content: "\e0f7"; }
.misp-icon-scheduled-task.misp-objects-framed { --misp-icon: "\e0f7"; }
.misp-icon-script.misp-objects-framed::before { content: "\e0f8"; }
.misp-icon-script.misp-objects-framed { --misp-icon: "\e0f8"; }
.misp-icon-service.misp-objects-framed::before { content: "\e0f9"; }
.misp-icon-service.misp-objects-framed { --misp-icon: "\e0f9"; }
.misp-icon-shell-commands.misp-objects-framed::before { content: "\e0fa"; }
.misp-icon-shell-commands.misp-objects-framed { --misp-icon: "\e0fa"; }
.misp-icon-shortened-link.misp-objects-framed::before { content: "\e0fb"; }
.misp-icon-shortened-link.misp-objects-framed { --misp-icon: "\e0fb"; }
.misp-icon-software-package.misp-objects-framed::before { content: "\e0fc"; }
.misp-icon-software-package.misp-objects-framed { --misp-icon: "\e0fc"; }
.misp-icon-software.misp-objects-framed::before { content: "\e0fd"; }
.misp-icon-software.misp-objects-framed { --misp-icon: "\e0fd"; }
.misp-icon-spearphishing-attachment.misp-objects-framed::before { content: "\e0fe"; }
.misp-icon-spearphishing-attachment.misp-objects-framed { --misp-icon: "\e0fe"; }
.misp-icon-spearphishing-campaign.misp-objects-framed::before { content: "\e0ff"; }
.misp-icon-spearphishing-campaign.misp-objects-framed { --misp-icon: "\e0ff"; }
.misp-icon-spearphishing-link.misp-objects-framed::before { content: "\e100"; }
.misp-icon-spearphishing-link.misp-objects-framed { --misp-icon: "\e100"; }
.misp-icon-splunk.misp-objects-framed::before { content: "\e101"; }
.misp-icon-splunk.misp-objects-framed { --misp-icon: "\e101"; }
.misp-icon-ssh-authorized-keys.misp-objects-framed::before { content: "\e102"; }
.misp-icon-ssh-authorized-keys.misp-objects-framed { --misp-icon: "\e102"; }
.misp-icon-stix2-pattern.misp-objects-framed::before { content: "\e103"; }
.misp-icon-stix2-pattern.misp-objects-framed { --misp-icon: "\e103"; }
.misp-icon-suricata.misp-objects-framed::before { content: "\e104"; }
.misp-icon-suricata.misp-objects-framed { --misp-icon: "\e104"; }
.misp-icon-task.misp-objects-framed::before { content: "\e105"; }
.misp-icon-task.misp-objects-framed { --misp-icon: "\e105"; }
.misp-icon-telegram-account.misp-objects-framed::before { content: "\e106"; }
.misp-icon-telegram-account.misp-objects-framed { --misp-icon: "\e106"; }
.misp-icon-telegram-bot.misp-objects-framed::before { content: "\e107"; }
.misp-icon-telegram-bot.misp-objects-framed { --misp-icon: "\e107"; }
.misp-icon-temporal-event.misp-objects-framed::before { content: "\e108"; }
.misp-icon-temporal-event.misp-objects-framed { --misp-icon: "\e108"; }
.misp-icon-terminal-output.misp-objects-framed::before { content: "\e109"; }
.misp-icon-terminal-output.misp-objects-framed { --misp-icon: "\e109"; }
.misp-icon-timestamp.misp-objects-framed::before { content: "\e10a"; }
.misp-icon-timestamp.misp-objects-framed { --misp-icon: "\e10a"; }
.misp-icon-tor-hiddenservice.misp-objects-framed::before { content: "\e10b"; }
.misp-icon-tor-hiddenservice.misp-objects-framed { --misp-icon: "\e10b"; }
.misp-icon-tor-node.misp-objects-framed::before { content: "\e10c"; }
.misp-icon-tor-node.misp-objects-framed { --misp-icon: "\e10c"; }
.misp-icon-transaction.misp-objects-framed::before { content: "\e10d"; }
.misp-icon-transaction.misp-objects-framed { --misp-icon: "\e10d"; }
.misp-icon-translation.misp-objects-framed::before { content: "\e10e"; }
.misp-icon-translation.misp-objects-framed { --misp-icon: "\e10e"; }
.misp-icon-transport-ticket.misp-objects-framed::before { content: "\e10f"; }
.misp-icon-transport-ticket.misp-objects-framed { --misp-icon: "\e10f"; }
.misp-icon-twitter-account.misp-objects-framed::before { content: "\e110"; }
.misp-icon-twitter-account.misp-objects-framed { --misp-icon: "\e110"; }
.misp-icon-twitter-list.misp-objects-framed::before { content: "\e111"; }
.misp-icon-twitter-list.misp-objects-framed { --misp-icon: "\e111"; }
.misp-icon-twitter-post.misp-objects-framed::before { content: "\e112"; }
.misp-icon-twitter-post.misp-objects-framed { --misp-icon: "\e112"; }
.misp-icon-uav.misp-objects-framed::before { content: "\e113"; }
.misp-icon-uav.misp-objects-framed { --misp-icon: "\e113"; }
.misp-icon-url.misp-objects-framed::before { content: "\e114"; }
.misp-icon-url.misp-objects-framed { --misp-icon: "\e114"; }
.misp-icon-user-account.misp-objects-framed::before { content: "\e115"; }
.misp-icon-user-account.misp-objects-framed { --misp-icon: "\e115"; }
.misp-icon-user-action.misp-objects-framed::before { content: "\e116"; }
.misp-icon-user-action.misp-objects-framed { --misp-icon: "\e116"; }
.misp-icon-vehicle.misp-objects-framed::before { content: "\e117"; }
.misp-icon-vehicle.misp-objects-framed { --misp-icon: "\e117"; }
.misp-icon-victim.misp-objects-framed::before { content: "\e118"; }
.misp-icon-victim.misp-objects-framed { --misp-icon: "\e118"; }
.misp-icon-virustotal-graph.misp-objects-framed::before { content: "\e119"; }
.misp-icon-virustotal-graph.misp-objects-framed { --misp-icon: "\e119"; }
.misp-icon-virustotal-report.misp-objects-framed::before { content: "\e11a"; }
.misp-icon-virustotal-report.misp-objects-framed { --misp-icon: "\e11a"; }
.misp-icon-virustotal-submission.misp-objects-framed::before { content: "\e11b"; }
.misp-icon-virustotal-submission.misp-objects-framed { --misp-icon: "\e11b"; }
.misp-icon-vulnerability.misp-objects-framed::before { content: "\e11c"; }
.misp-icon-vulnerability.misp-objects-framed { --misp-icon: "\e11c"; }
.misp-icon-weakness.misp-objects-framed::before { content: "\e11d"; }
.misp-icon-weakness.misp-objects-framed { --misp-icon: "\e11d"; }
.misp-icon-whois.misp-objects-framed::before { content: "\e11e"; }
.misp-icon-whois.misp-objects-framed { --misp-icon: "\e11e"; }
.misp-icon-wifi-connection.misp-objects-framed::before { content: "\e11f"; }
.misp-icon-wifi-connection.misp-objects-framed { --misp-icon: "\e11f"; }
.misp-icon-windows-service.misp-objects-framed::before { content: "\e120"; }
.misp-icon-windows-service.misp-objects-framed { --misp-icon: "\e120"; }
.misp-icon-x509.misp-objects-framed::before { content: "\e121"; }
.misp-icon-x509.misp-objects-framed { --misp-icon: "\e121"; }
.misp-icon-x-header.misp-objects-framed::before { content: "\e122"; }
.misp-icon-x-header.misp-objects-framed { --misp-icon: "\e122"; }
.misp-icon-yara.misp-objects-framed::before { content: "\e123"; }
.misp-icon-yara.misp-objects-framed { --misp-icon: "\e123"; }
.misp-icon-youtube-channel.misp-objects-framed::before { content: "\e124"; }
.misp-icon-youtube-channel.misp-objects-framed { --misp-icon: "\e124"; }
.misp-icon-youtube-comment.misp-objects-framed::before { content: "\e125"; }
.misp-icon-youtube-comment.misp-objects-framed { --misp-icon: "\e125"; }
.misp-icon-youtube-playlist.misp-objects-framed::before { content: "\e126"; }
.misp-icon-youtube-playlist.misp-objects-framed { --misp-icon: "\e126"; }
.misp-icon-youtube-video.misp-objects-framed::before { content: "\e127"; }
.misp-icon-youtube-video.misp-objects-framed { --misp-icon: "\e127"; }
